<div id="children-modal" class="reveal-modal">
  <% if @party.spanish? %>
    <p>Les avisamos que por favor esten conscientes de que nuestro lugar <strong><em>no es para niños pequeños</em></strong> y tiene el potencial de ser <strong><em>muy peligroso</em></strong>. Está situado en un acantilado con una gran bajada hasta el fondo del río Deschutes.</p>

    <p>Hay caminos de tierra que son fácil de acceso que conducen hasta el <strong><em>río rápido</em></strong>, y presenta una situación <strong><em>peligrosa para los niños pequeños</em></strong>. Estamos sugiriendo a los padres que <strong><em>reconsideren no llevar a los niños pequeños</em></strong>, ya que hay problemas de seguridad por todas partes.</p>

    <p>Si usted decide llevar a sus niños pequeños, usted debe <strong><em>asegurarse de que esten con usted</em></strong> y debe ser <strong><em>100% responsable de ellos en todo momento</em></strong>. Ni nosotros, ni River Run, puede asumir la responsabilidad por cualquier lesión / alergias / accidentes que puedan ocurrir.</p>

    <p><a href="#" class="accept button">Acepto</a></p>
  <% else %>
    <p>Please be mindful that our venue is <strong><em>not</em></strong> child-friendly and is <strong><em>not</em></strong> childproof. It is located on a cliff-side with a <strong><em>large drop-off</em></strong> all the way down to the Deschutes River.</p>

    <p>There are dirt paths that are <strong><em>easily accessible</em></strong> that lead down to the rapid river that presents a <strong><em>dangerous situation</em></strong> for small children. We are <strong><em>strongly</em></strong> encouraging parents to consider <strong><em>not</em></strong> bringing small children as there are safety concerns all around.</p>

    <p>If you do decide to bring small children, <strong><em>you must make sure they are with you</em></strong> and must be <strong><em>100%</em></strong> responsible for them at all times. Neither we, nor River Run, can take responsibility for any injuries/allergies/accidents that may occur.</p>
  
    <p><a href="#" class="accept button">Agree</a></p>
  <% end %>
</p>
  <a class="close-reveal-modal">&#215;</a>
</div>