<script id="instagram-template" type="text/x-handlebars-template">
  <ul class="instagram-photos">
    {{#each data}}
      <li>
        <a class="mfp-image popup-link" title="Posted by {{this.user.full_name}}" href="{{this.images.standard_resolution.url}}" target="_blank">
          <img src="{{this.images.thumbnail.url}}"/>
        </a>
      </li>
    {{/each}}
  </ul>
</script>