<% provide(:title, 'Liz y Gerardo') %>

<section class="coming-soon row">
  <div class="column-container">
    <h1>Liz y Gerardo</h1>
    <h1 class="date">August 10<sup>th</sup>, 2013</h1>
    <p>website coming soon...</p>
  </div>
</section>