$sprite-icons-image: "sprite_icons_v2.png";
$sprite-icons-bg-size: 94px 719px;

/******************************
 Reusable Styles
 ******************************/
.column-container {
  @include grid-column(12);
}

.button,
.button:link,
.button:visited {
  display: block;
  background: #eeeeee;
  border: 1px solid #dcdcdc;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #b3b3b3;
  color: #1386d6;
  text-transform: uppercase;
  font-size: emCalc(27px);
  border-radius: emCalc(4px);
  font-weight: normal;
  text-shadow: 0 1px 1px #fff;
  padding: .444444444em .37037037em .296296296em;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  @include linear-gradient(to bottom, #ffffff 0%,#dcdcdc 93%,#fefefe 100%);
  @include transition(all .25s ease-out);

  &:hover, 
  &:active {
    border-top: 1px solid #b3b3b3;
    border-bottom: 1px solid #ebebeb;
    @include linear-gradient(to bottom, #fefefe 0%,#dcdcdc 93%,#fff 100%);
    color: darken(#1386d6, 10%);
    // box-shadow: 0 1px 1px 1px rgba(19, 134, 214, 0.25);
  }
}

@mixin pattern-grey-chevron() {
  background: url("pattern_grey_chevron.gif") center 5px repeat-x;
  background-size: 20px 40px;
}

@mixin heart-yellow-on-white() {
  background: url("heart_yellow_on_white.png") no-repeat top center;
  background-size: 70px 63px;
  margin-top: emCalc(-12px);
  padding-top: emCalc(58px);
  padding-bottom: emCalc(40px);
}

@mixin pattern-yellow-dots() {
  background: url("pattern_yellow_dots.gif") center top repeat-x;
  background-size: 36px 35px;
  padding-bottom: emCalc(28px);
}

@mixin heart-white-on-yellow() {
  background: url("heart_white_on_yellow.png") no-repeat top center;
  background-size: 70px 63px;
  margin-top: emCalc(-17px);
  padding-top: emCalc(75px);
}

@mixin pattern-white-stripes() {
  background: #757575 url("pattern_white_stripes.gif") center top repeat-x;
  background-size: 14px 30px;
  padding-bottom: emCalc(28px);
}

@mixin heart-yellow-on-grey() {
  background: url("heart_yellow_on_grey.png") no-repeat top center;
  background-size: 83px 63px;
  color: #fff;
  margin-top: emCalc(-17px);
  padding-top: emCalc(70px);
}

@mixin diamonds-yellow() {
  content: " ";
  display: block;
  background: transparent url($sprite-icons-image) no-repeat center -637px;
  background-size: $sprite-icons-bg-size;
  height: 17px;
  margin: emCalc(10px) 0 emCalc(10px);
}

@mixin diamonds-white() {
  @include diamonds-yellow;
  background-position: center -706px;
}

@mixin timeline-patterns() {
  background: url("sprite_timeline_patterns.png") no-repeat center top;
  background-size: 212px 539px;
}

@mixin photo-frame() {
  border: emCalc(4px) solid #fff;
  display: block;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25);
}
/******************************
 Global Styles
 ******************************/
body {
  background: $body-bg;
}

h1 {
  font-family: $oleo-script-swash-font-family;
  font-weight: 400;
}

h2 {
  font-size: emCalc(36px);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: .277777778em;
}

h3 {
  font-family: $body-font-family;
  font-size: emCalc(14px);
  text-transform: uppercase;
  margin: .714285714em 0 .357142857em; // 10px 5px
  line-height: 1;
}

h4 {
  font-family: $body-font-family;
  font-size: emCalc(30px);
  margin: .178571429em 0; // 5px
  line-height: 1;
}

p {
  font-size: emCalc(18px);
  line-height: 1.35;
  margin-bottom: .5em;

  strong {
    color: darken($body-font-color, 5%);
  }
}

a {

  &:link,
  &:visited {
    color: $body-font-color;
    @include transition(all .25s ease-out);
  }

  &:hover,
  &:active {
    color: darken($body-font-color, 5%);
    color: $primary-color;
    // text-shadow: 0 0 1px darken($body-font-color, 10%);
  }
}

hr {
  @include diamonds-yellow;
  border: none;

  &.related {
    background: none;
    padding: 0;
    border: none;
    border-top: 1px solid #4d4d4d;
    text-align: center;
    height: 1px;
    margin: emCalc(55px) 0;

    &:after {
      background: #fff url($sprite-icons-image) no-repeat center -550px;
      background-size: $sprite-icons-bg-size;
      height: 46px;
      width: 24px;
      content: " ";
      display: inline-block;
      position: relative;
      top: -26px;
      font-size: 6em;
      padding: 0 .3em;
    }
  }
}

figure {
  margin: emCalc(18px) 0;

  img {
    @include photo-frame;
  }
}

address {
  font-style: normal;
  font-size: emCalc(18px);

  span {
    display: block;
  }
}

sup {
  vertical-align: super;
  font-size: .5em;
  text-decoration: underline;
}

// .map-container {
//   width: 100%;
//   height: 150px;
//   border: emCalc(4px) solid #fff;
//   box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25);
//   overflow: hidden;
//   margin: emCalc(10px) 0;

//   iframe {
//     width: 100%;
//     height: 100%;
//   }
// }

/******************************
 Main Nav Styles
 ******************************/
#nav-wrapper {
  background: #303030;
  padding-top: emCalc(5px);
  padding-bottom: emCalc(5px);
  position: relative;
  color: #757575;
  font-family: $body-font-family;
  border-bottom: 1px solid #191919;

  .logo {
    display: block;
    text-align: right;
    font-size: emCalc(18px);
    @include hide-text;
    background: transparent url($sprite-icons-image) no-repeat right -487px;
    background-size: $sprite-icons-bg-size;
    width: 100%;
    height: 26px;
  }
}

#nav-toggle {
  background: transparent url($sprite-icons-image) no-repeat -22px -116px;
  background-size: $sprite-icons-bg-size;
  @include hide-text;
  width: 80px;
  height: 34px;
  display: block;
  position: absolute;
  left: 0;
  top: 4px;
}
/******************************
 Main Header Styles
 ******************************/
body > header {
  background: #6593ad url("bg_header_small_viewport.jpg") no-repeat bottom;
  background-size: cover;
  padding-top: emCalc(18px);
  padding-left: emCalc(5px);
  padding-right: emCalc(5px);
  padding-bottom: 50%;
  color: #fff;
  text-align: center;
  min-height: emCalc(350px);

  h1 {
    color: #fff;
  }
}
/******************************
 Main Footer Styles
 ******************************/
body > footer {
  background: #303030;
  color: #757575;
  padding-top: emCalc(15px);
  padding-bottom: emCalc(15px);
  font-size: emCalc(14px);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;

  strong {
    color: #a1a1a1;
    font-weight: 400;
  }

  p {
    margin: 0;
    line-height: 1.25;
    font-size: emCalc(15px);

    &.copyright {
      font-size: 7px;
      font-family: Verdana, sans-serif;
      background: transparent url($sprite-icons-image) no-repeat center 15px;
      background-size: $sprite-icons-bg-size;
      padding-bottom: emCalc(53px);
    }
  }
}
/******************************
 Venue/RSVP/Timeline Styles
 ******************************/
#venue-rsvp-timeline-container {
  @include pattern-grey-chevron;
}
/******************************
 Venue Styles
 ******************************/
#venue-container {
  @include heart-yellow-on-white;
}
/******************************
 RSVP Styles
 ******************************/
#rsvp-container {
  background: $primary-color url("pattern_yellow_stripes.gif") center top repeat-x;
  background-size: 2px 39px;
  color: darken($body-font-color, 5%);
  padding-bottom: emCalc(28px);
}

#rsvp {
  background: url("heart_yellow_on_white.png") no-repeat top center;
  background-size: 70px 63px;
  margin-top: emCalc(-25px);
  padding-top: emCalc(75px);

  h2 {
    margin-bottom: emCalc(3px);
    line-height: 1;
  }

  h3 {
    font-family: $quicksand-font-family;
    font-weight: 700;
    text-align: center;
    font-size: emCalc(12px);
    margin: 0 0 .833333333em;
  }

  hr {
    @include diamonds-white;
    margin: emCalc(15px) 0;
  }

  .note {
    color: $body-font-color;
    border: 2px dashed #dbb900;
    padding: emCalc(10px) emCalc(10px) 0;
  }

  .reserved-seats {
    @include grid-row(nest);

    dt {
      @include grid-column(5);
      text-align: right;
      padding-right: 0;
      font-family: $quicksand-font-family;
      margin: 0;
      background: url($sprite-icons-image) no-repeat left -219px;
      background-size: $sprite-icons-bg-size;

      p {
        font-size: emCalc(76px);
        font-weight: 300;
        line-height: .8;
        margin: 0;
      }
    }

    dd {
      @include grid-column(7);
      padding-left: 0;
      margin: 0;
      padding-right: 25%;
      background: url($sprite-icons-image) no-repeat right -349px;
      background-size: $sprite-icons-bg-size;

      p {
        font-size: emCalc(18px);
        line-height: 1.15;
      }
    }
  }
}
/******************************
 Our Timeline Styles
 ******************************/
#our-timeline-container {
  @include pattern-yellow-dots;
  padding-bottom: emCalc(40px);
}

#our-timeline {
  @include heart-white-on-yellow;
  text-align: center;

  h3 {
    font-family: $oleo-script-swash-font-family;
    font-size: emCalc(40px);
    text-transform: none;
    margin: 0 0 emCalc(1px);
  }

  dl {
    margin-bottom: 0;
  }

  dt {
    font-family: $quicksand-font-family;
    color: $primary-color;
    font-weight: 400;
    font-size: emCalc(16px);
    text-transform: uppercase;
    margin-bottom: emCalc(8px);

    span {
      font-weight: 300;
      font-size: emCalc(56px);
      letter-spacing: -5px;
      display: block;
      line-height: .75;

      strong {
        font-size: .55em;
        display: block;
        font-weight: 300;
        line-height: 1.2;
      }
    }

    &:before {
      @include timeline-patterns;
      content: " ";
      display: block;
      height: emCalc(20px);
    }
  }

  dd {
    line-height: 1;
    min-height: emCalc(32px);
    margin-bottom: emCalc(4px);
  }

  .timeline-list {
    list-style-type: none;
    @include grid-row(nest);

    .bride {
      @include grid-column(6);

      h3 {
        color: $primary-color;
      }

      dt {
        &.born:before {
          background-position: center -209px;
          height: 22px;
        }

        &.moved-to-oregon:before {
          background-position: center -230px;
          height: 45px;
        }
      }
    }

    .groom {
      @include grid-column(6);

      h3 {
        color: $secondary-color;
        margin-left: emCalc(-5px);
      }

      dt {
        &.born:before {
          background-position: center -274px;
          height: 22px;
        }

        &.moved-to-oregon:before {
          background-position: center -295px;
          height: 45px;
        }
      }
    }

    .bride-and-groom {
      @include grid-column(12);

      dt {
        &.cross-paths:before {
          background-position: center 0;
          height: 125px;
        }

        &.together:before {
          background-position: center -127px;
          height: 82px;
        }

        &.the-big-day {

          &:before {
            background: none;
            height: 0;
            display: none;
          }

          @include timeline-patterns;
          background-position: center bottom;
          color: #fff;
          font-size: emCalc(14px);
          padding: 114px 0 40px;

          span {
            font-size: emCalc(36px);
            letter-spacing: -2px;
          }
        }
      }

      dd {
        max-width: emCalc(140px);
        margin: 0 auto emCalc(7px);
      }
    }
  }
}
/******************************
The Wedding Party Styles
 ******************************/
#wedding-party-container {
  @include pattern-white-stripes;
}

#wedding-party {
  @include heart-yellow-on-grey;
  text-align: center;

  h2, h3, h4 {
    color: #fff;
  }

  h2 {
    line-height: 1;
  }

  p {
    font-family: $quicksand-font-family;
    font-size: emCalc(12px);
    text-transform: uppercase;
    font-weight: 700;
  }

  hr {
    @include diamonds-white;
    margin: emCalc(20px) 0;
  }

  ul {
    &.party {
      list-style-type: none;
      margin-bottom: 0;

      &:before {
        @include diamonds-white;
        margin: emCalc(20px) 0;
      }

      & > li {
        background: #fff;
        padding: emCalc(6px);
        border-bottom: 1px solid #5b5b5b;
        margin-bottom: emCalc(20px);

        dt,dl,dd {
          margin-bottom: 0;
        }

        dt {
          img {
            display: block;
            width: 100%;
          }
        }
      }

      h3 {
        color: #4d4d4d;
        font-size: emCalc(18px);
        font-family: $header-font-family;
        margin: emCalc(12px) 0 emCalc(3px);
      }

      h4 {
        font-family: $quicksand-font-family;
        font-size: emCalc(12px);
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: emCalc(8px);
      }

      &.bridesmaids {
        margin-top: emCalc(25px);

        h4 {
          color: #d3a900;
        }
      }

      &.groomsmen {
        margin-top: emCalc(25px);

        h4 {
          color: #1386d6;
        }
      }
    }
  }
}
/******************************
 Photos Styles
 ******************************/
#photos-container {
  @include pattern-grey-chevron;
}

#photos {
  @include heart-yellow-on-white;

  h2 {
    margin-bottom: emCalc(5px);
  }

  h3 {
    font-family: $quicksand-font-family;
    font-size: emCalc(22px);
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;

    &:before {
      @include diamonds-yellow;
      margin: emCalc(5px) 0 emCalc(10px);
    }
  }
}

.photos-app {
  // @include grid-row(nest);

  dt {
    // @include grid-column(4);
    padding-top: emCalc(5px);
    float: left;
    margin: 0 emCalc(10px) emCalc(8px) 0;

    img {
      display: block;
      width: emCalc(66px);
    }
  }

  dd {
    // @include grid-column(8);
    padding-left: 0;

    p {
      line-height: 1.25;
    }
  }
}

.photos-app-steps {
  font-size: emCalc(18px);
  counter-reset: li; /* Initiate a counter */
  list-style: none; /* Remove default numbering */
  // *list-style: decimal; /* Keep using default numbering for IE6/7 */
  padding: 0;
  // margin-bottom: 4em;
  // text-shadow: 0 1px 0 rgba(255,255,255,.5);

  li {
    padding-left: emCalc(30px);
    line-height: 1;
    margin-top: emCalc(15px);
    position: relative;

    &:first-child {
      margin-top: 0;
    }

    &:before {
      content: counter(li);
      counter-increment: li;
      font-size: emCalc(36px);
      font-family: $header-font-family;
      position: absolute;
      left: 0;
      top: -3px;
    }
  }
}

#instagram-photos-container {
  &.loading {
    background: url("loader.gif") no-repeat center center;
    background-size: 50px 50px;
    height: emCalc(200px);
  }
}

.instagram-photos {
  list-style-type: none;
  @include block-grid(2, 5px);

  li {
    img {
      @include photo-frame;
      width: 100%;
    }
  }
}
/******************************
 Registry/Loding/Vendors/Contact Styles
 ******************************/

/******************************
 Registry Styles
 ******************************/
#our-registry {
  background: $primary-color url("pattern_yellow_stripes.gif") center top repeat-x;
  background-size: 2px 39px;
  color: darken($body-font-color, 5%);
  padding-bottom: emCalc(28px);
  text-align: center;

  .inner-wrapper {
    background: url("heart_yellow_on_white.png") no-repeat top center;
    background-size: 70px 63px;
    margin-top: emCalc(-25px);
    padding-top: emCalc(75px);
  }

  p {
    font-family: $quicksand-font-family;
    font-size: emCalc(12px);
    text-transform: uppercase;
    font-weight: 700;
  }
}

.registry-list {
  list-style-type: none;

  &:before {
    @include diamonds-white;
    margin: emCalc(15px) 0;
  }

  li {
    margin-bottom: emCalc(25px);
  }

  a {
    background: url("sprite_store_logos.png") no-repeat;
    background-size: 236px 188px;
    @include hide-text;
    display: block;
    margin: 0 auto;

    &.target {
      background-position: top center;
      width: 236px;
      height: 54px;
    }

    &.wedding-republic {
      background-position: center -112px;
      width: 236px;
      height: 77px;
    }

    &.kohls {
      background-position: center -52px;
      width: 231px;
      height: 57px;
    }
  }
}
/******************************
 Lodging Styles
 ******************************/
#lodging {
  @include pattern-yellow-dots;

  .inner-wrapper {
    @include heart-white-on-yellow;
  }

  h3 {
    font-size: emCalc(21px);
    font-weight: 600;
  }

  .lodging-list {
    list-style-type: none;
    text-align: center;

    li {
      &:before {
        @include diamonds-yellow;
      }
    }

    address {
      line-height: 1.25;
    }
  }
}
/******************************
 Our Vendors Styles
 ******************************/
#our-vendors {
  @include pattern-white-stripes;
  color: #fff;

  .inner-wrapper {
    @include heart-yellow-on-grey;
  }

  text-align: center;

  h2, h3, h4, a {
    color: #fff;
  }

  h2 {
    line-height: 1;
  }

  p {
    font-family: $quicksand-font-family;
    font-size: emCalc(12px);
    text-transform: uppercase;
    font-weight: 700;
  }

  .vendor-list {
    list-style-type: none;

    li {
      &:before {
        @include diamonds-yellow;
      }
    }

    a {
      &:link,
      &:visited {
        font-size: emCalc(21px);
        text-transform: uppercase;
        text-decoration: underline;
        line-height: 1;
      }

      &:hover,
      &:active {
        color: $primary-color;
      }
    }
    span {
      display: block;
    }
  }
}
/******************************
 Contact Us Styles
 ******************************/
#contact-us {
  @include pattern-grey-chevron;
  
  .inner-wrapper {
    @include heart-yellow-on-white;
  }
}